body {
    margin: 0;
}

.navi {
    background-color: black;
    padding: 2em;
    text-align: left;
    height: 120px;
}

.naviElem {
    font-size: 28px;
    color: white;
}

.textWeek{
    padding-left: 82px;
    padding-bottom: 3px;
}

.imageHome {
    text-align: end;
    margin-right: 50px;
}

.tableSpecifications {
    border-spacing: 0;
    width: 100%
}

.panel {
    width: 30%;
    margin-top: 1em;
}

.panelElem {
    width: 50%;
    margin: auto;
    padding: 20px;
}

.panelElemIntDesc {
    width: 40%;
}

.panelElemSkills {
    width: 60%;

}

.panelElemSMP {
    width: 30%;
}

.textCol {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.textRow {
    font-size: large;
}

.image {
    text-align: center;
    clear: both;
}

.textImage {
    text-align: center;
    padding: 1em;
}

.button {
    border: none;
    padding: 10px 3em;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.buttonEdit {
    width: 15%;
    margin: 0 auto;
    background-color: black;
    color: white;
    display: block;
    transition-duration: 0.5s;
    font-weight: bold;
}

.buttonForward {
    width: 20%;
    margin: 0 auto;
    background-color: black;
    color: white;
    display: block;
    transition-duration: 0.5s;
    font-weight: bold;
}

.buttonForward:hover {
    background-color: orange;
    border: 2px solid black;
    color: black;
}

.buttonEdit:hover {
    background-color: orange;
    border: 2px solid black;
    color: black;
}

.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}